/*Font style*/

$font--primary: "Karla", sans-serif;

/*Colours*/

$color-primary: rgb(21, 126, 210);
$color-primar-dark: #1062a4;
$color-secondary: rgb(89, 178, 16);
$color-white: #fff;
$color-black: #222;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;
$color-grey-dark-1: #3f3f3f;
